<h1>Stupid Coach</h1>
<div>
  <p>Careful what you ask...he is <em>stupid</em> after all.</p>
</div>
<div>
  <form action="answer">
    <input type="text" name="question" value="<%= @question %>">
    <input type="submit" value="Ask!">
  </form>
</div>
